body {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  box-sizing: border-box;

  nav{
    height: 3.5vw;
    background-color: rgba(42, 42, 44, 0.7);
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    font-family: Lato;
    color: white;
    position: sticky;
    top: 0;


    li{
      list-style-type: none;
      flex-grow: .3;
      font-size: 1.2vw;
      // align-self: center;
      // text-align: right;
      height:100%;


    }
    li:first-of-type{
      flex-grow: 5;
      font-size: 1.5vw;
      text-align: left;
      margin-left: 1vw;
    }
    li:last-of-type{
      margin-right: 1vw;
    }

    li:hover{
      cursor: pointer;
      color: white;
      background:#555555;
    }

    li:first-of-type:hover{
      cursor:auto;
      color:white;
      background-color: #2a2a2c;
    }
  }
}

.scrollActive{
  background:#555555;
  color:white;
}
