body {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  box-sizing: border-box;

  nav{
    height: 3.5vw;
    box-sizing: border-box;
    background-color: rgba(42, 42, 44, 0.8);
    display: flex;
    flex-flow: row;
    justify-content: flex-end;
    font-family: Lato;
    color: white;
    position: sticky;
    top: 0;


    li{
      list-style-type: none;
      flex-grow: .3;
      font-size: 1.2vw;
      align-self: center;
      vertical-align: middle;
      // text-align: right;
      height:100%;


    }
    .dropdown-content {
      display: none;
      position: absolute;
      background-color: #f9f9f9;
      min-width: 160px;
      box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
      z-index: 1;
    }

    .dropdown-content a {
    // float: none;
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
    text-align: left;
    }

  .dropdown-content a:hover {
    background-color: red;
    }

    .dropdown:hover .dropdown-content {
    display: block;
  }


    li:first-of-type{
      flex-grow: 5;
      font-size: 1.5vw;
      text-align: left;
      margin-left: 1vw;
    }
    li:last-of-type{
      margin-right: 1vw;
    }

    li:hover{
      cursor: pointer;
      color: white;
      background:#555555;
    }

    li:first-of-type:hover{
      cursor:auto;
      color:white;
      background: rgba(42, 42, 44, 0.8);
    }
  }
}

.scrollActive{
  background:#555555;
  color:white;
}
