body {
  font-family: 'Lato', sans-serif;
  font-family: 'Montserrat', sans-serif;
  margin: 0;
  box-sizing: border-box;
}

body nav {
  height: 3.5vw;
  background-color: #2a2a2c;
  display: flex;
  flex-flow: row;
  justify-content: flex-end;
  font-family: Lato;
  color: white;
  position: sticky;
  top: 0;
}

body nav li {
  list-style-type: none;
  flex-grow: .3;
  font-size: 1.2vw;
  align-self: center;
  text-align: right;
}

body nav li:first-of-type {
  flex-grow: 5;
  font-size: 1.5vw;
  text-align: left;
  margin-left: 1vw;
}

body nav li:last-of-type {
  margin-right: 1vw;
}

section.form {
  margin: 0;
  background: white;
  display: flex;
  flex-direction: column;
  text-align: center;
  color: #777777;
}

section.form > p:first-of-type {
  font-size: 1.8vw;
  letter-spacing: 8px;
  color: black;
}

section.form > p:nth-of-type(2) {
  margin: 0;
  font-style: italic;
  font-size: 1.2vw;
}

section.form > main {
  width: 70%;
  margin: 1vw auto;
  display: flex;
  flex-direction: row;
}

section.form > main > div {
  flex-grow: 1.5;
  font-size: 1.2vw;
  text-align: left;
}

section.form > main > div:nth-of-type(2) {
  display: grid;
  grid-row-gap: 0.8vw;
  flex-grow: 7;
  margin-left: 5vw;
  grid-template-areas: "fullname fullname . . email email" "comment comment comment comment comment comment" "comment comment comment comment comment comment" ". . . . . button";
}

section.form > main > div:nth-of-type(2) .grid1 {
  grid-area: fullname;
}

section.form > main > div:nth-of-type(2) .grid2 {
  grid-area: email;
}

section.form > main > div:nth-of-type(2) .grid3 {
  grid-area: comment;
}

section.form > main > div:nth-of-type(2) .grid4 {
  grid-area: button;
  justify-self: end;
  margin-top: 1.5vw;
}

section.form > main > div:nth-of-type(2) > button {
  width: 75%;
  font-size: 1vw;
  background: #333333;
  border: 1px solid #333333;
  color: white;
  padding: 1vw 1.2vw;
  transition: all .3s;
}

section.form > main > div:nth-of-type(2) > button:hover {
  background: white;
  color: #333333;
}

section.form > main > div > input, section.form > main > div textarea {
  font-size: 1vw;
  padding: 0.7vw 0;
  padding-left: 1vw;
}

section.form > main > div > textarea {
  height: 7vw;
}

section.pills {
  width: 70%;
  margin: 4vw auto;
  font-size: 1.5vw;
}

section.pills > h4 {
  text-align: center;
  letter-spacing: 15px;
}

section.pills > ul {
  display: flex;
  flex-direction: row;
  margin: 0;
  padding: 0;
}

section.pills > ul > li {
  color: #555555;
  list-style-type: none;
  border: 1px solid #dddddd;
  padding: 1vw;
  margin-right: 0.2vw;
  font-size: 1vw;
}

section.pills > ul > li:hover {
  background: #d5d3d3;
}

section.pills div.blogContainer {
  position: relative;
  border-top: 1px solid #dddddd;
  height: 10vw;
}

section.pills div.blogContainer div {
  position: absolute;
  display: none;
}

section.pills div.blogContainer div h3, section.pills div.blogContainer div .blogContainer p {
  text-align: left;
}

.active {
  display: block !important;
}

.selected {
  background: white;
}

.picture {
  width: 100%;
  height: 55vw;
  background-image: url("map.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

footer {
  display: inline-block;
  font-family: Lato;
  width: 100%;
  padding-top: 2vw;
  background: #2d2d30;
  color: #f5f5f5;
  height: 12vw;
  font-size: 1vw;
  text-align: center;
  vertical-align: middle;
}

footer span.tooltipText {
  visibility: hidden;
  width: 5vw;
  font-size: 0.9vw;
  background-color: black;
  color: #ffffff;
  text-align: center;
  padding: 0.2vw 0;
  border-radius: 20%;
  position: absolute;
  right: -100%;
  bottom: 80%;
  z-index: 5;
}

footer a {
  position: relative;
  text-decoration: none;
  font-size: 2vw;
  color: #f5f5f5;
}

footer a:hover .tooltipText {
  visibility: visible;
}

body {
  margin: 0.5vw auto;
  box-sizing: border-box;
  background: white;
  font-family: sans-serif;
}

body .carousel span {
  font-size: 8vw;
  color: silver;
  padding: 18vw 3vw;
  position: absolute;
}

body .carousel span:nth-of-type(1) {
  transform: scaleX(-1);
  left: 2vw;
}

body .carousel span:nth-of-type(2) {
  right: 2vw;
}

body .carousel span:hover {
  font-size: 9vw;
  color: cyan;
  opacity: 0.5;
  cursor: pointer;
}

body .carousel .slider {
  display: flex;
  width: 0;
  height: 0;
}

body .carousel .slider:nth-of-type(1) {
  background-image: url(bandImages/onStage_1.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(2) {
  background-image: url(bandImages/onStage_2.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(3) {
  background-image: url(bandImages/onStage_3.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(4) {
  background-image: url(bandImages/onStage_4.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(5) {
  background-image: url(bandImages/onStage_5.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(6) {
  background-image: url(bandImages/onStage_6.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(7) {
  background-image: url(bandImages/onStage_7.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(8) {
  background-image: url(bandImages/onStage_8.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(9) {
  background-image: url(bandImages/onStage_9.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(10) {
  background-image: url(bandImages/onStage_10.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(11) {
  background-image: url(bandImages/onStage_11.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(12) {
  background-image: url(bandImages/onStage_12.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(13) {
  background-image: url(bandImages/onStage_13.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(14) {
  background-image: url(bandImages/onStage_14.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(15) {
  background-image: url(bandImages/onStage_15.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(16) {
  background-image: url(bandImages/onStage_16.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(17) {
  background-image: url(bandImages/onStage_17.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(18) {
  background-image: url(bandImages/onStage_18.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(19) {
  background-image: url(bandImages/onStage_19.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(20) {
  background-image: url(bandImages/onStage_20.jpg);
  background-size: 100% 100%;
}

body .carousel .slider:nth-of-type(1) {
  width: 100%;
  height: 45vw;
}

body .theBand {
  background: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

body .theBand p {
  font-size: 1.5vw;
  padding: 1.5vw 4vw;
  text-align: center;
}

body .theBand h4 {
  font-size: 3.5vw;
  font-weight: 700;
  letter-spacing: 2.5vw;
  text-transform: uppercase;
}

body .theBand h6 {
  font-size: 2.5vw;
  letter-spacing: 0.5vw;
  word-spacing: 1.5vw;
  text-transform: capitalize;
  font-style: oblique;
}

body .theBand .bandImages {
  display: flex;
}

body .theBand .bandImages img {
  width: 10vw;
  height: 10vw;
  padding: 5vw;
  border-radius: 20vw;
}

body .theBand .bandImages img:hover {
  cursor: zoom-in;
  opacity: 0.7;
  width: 11vw;
  height: 11vw;
}

body .theBand .memberInfo {
  display: none;
}

body .theBand .memberInfo span {
  width: 10vw;
  padding: 5vw;
  text-align: center;
}

body .theBand .memberInfo span li {
  padding-bottom: 1vw;
  color: #777;
  list-style-type: none;
  font-style: oblique;
}

body .tourDates {
  background: black;
  display: flex;
  flex-direction: column;
  color: #777;
  text-align: center;
}

body .tourDates h4 {
  font-size: 3.5vw;
  letter-spacing: 2vw;
  font-weight: 500;
  text-transform: uppercase;
}

body .tourDates h6 {
  font-size: 2.5vw;
  font-stretch: condensed;
  text-decoration-style: double;
}

body .tourDates .month {
  font-size: 1.5vw;
  text-align: justify;
  margin: 0 12.5vw;
  padding: 1vw 2.5vw;
  border: 0.1vw solid #777;
  background: white;
  height: 4vw;
}

body .tourDates .month b {
  border-radius: 0.5vw;
  padding: 0.5vw 1.5vw;
  color: white;
  background: red;
}

body .tourDates .month:nth-of-type(3) b {
  color: lightblue;
  background: #777;
  border-radius: 25vw;
}

body .tourDates .ticketPopUp {
  display: none;
  flex-direction: column;
  position: relative;
  top: 20vw;
  overflow: hidden;
  width: 50vw;
  margin: 0 auto;
  background: white;
  border: 0.2vw solid silver;
}

body .tourDates .ticketPopUp p {
  width: 50vw;
  height: 10vw;
  background: black;
  margin: 0 auto;
  padding: 4vw;
  color: white;
  text-align: center;
  font-size: 3vw;
  letter-spacing: 0.5vw;
}

body .tourDates .ticketPopUp p span {
  margin: 0 0.5vw 6vw 0;
  padding: 0 0.5vw 0 10vw;
  color: #777;
  font-size: 3.5vw;
  background: black;
}

body .tourDates .ticketPopUp p span:hover {
  color: #777;
  cursor: pointer;
}

body .tourDates .ticketPopUp span {
  width: 100%;
  height: 2vw;
  background: white;
  color: #777;
  padding: 2vw;
  margin: 1.5vw 1.5vw;
  text-align: left;
  font-weight: 500;
}

body .tourDates .ticketPopUp input {
  text-align: left;
  padding: 2vw;
  margin: 0.5vw 2.5vw 1vw 2.5vw;
  opacity: 0.8;
}

body .tourDates .ticketPopUp button {
  padding: 0.5vw;
  margin: 1.5vw 2.5vw 3vw 2.5vw;
  background: black;
  color: white;
}

body .tourDates .ticketPopUp button:hover {
  color: #777;
  background: white;
  cursor: pointer;
}

body .tourDates .ticketPopUp .ticketFoot {
  display: flex;
  justify-content: space-between;
  margin: 5vw auto;
}

body .tourDates .ticketPopUp .ticketFoot button {
  height: 5vw;
  font-size: 2vw;
  padding: 1.5vw 4vw;
  margin: 2.5vw 2vw;
  background: black;
  color: white;
  border: 0.1vw solid red;
}

body .tourDates .ticketPopUp .ticketFoot button:hover {
  color: #777;
  background: white;
  cursor: pointer;
  border: 0.1vw solid black;
}

body .tourDates .ticketPopUp .ticketFoot a {
  font-size: 2vw;
  margin: 2vw auto;
  padding: 1vw;
  text-decoration: none;
  color: lime;
}

body .tourDates .container {
  display: flex;
  justify-content: center;
}

body .tourDates .container .location {
  background: white;
  border: 0.1vw solid #777;
  margin: 1vw 6vw;
  padding: 0.5vw;
  text-align: center;
}

body .tourDates .container .location img {
  width: 15vw;
  height: 15vw;
}

body .tourDates .container .location h6 {
  font-size: 2vw;
  background: white;
  color: #777;
}

body .tourDates .container .location h5 {
  background: white;
  color: #777;
  font-style: italic;
  font-weight: lighter;
}

body .tourDates .container .location button {
  font-size: 1vw;
  background: #777;
  color: silver;
  padding: 1vw;
}

body .tourDates .container .location button:hover {
  color: #777;
  background: white;
  cursor: pointer;
  border-radius: 1vw;
  shape-outside: none;
}
